.hero {
  height: 60vh;
  background: url(../img/einstein.png);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  // background: url("http://via.placeholder.com/1200x500");
  &__img {
    display: block;
    height: auto;
    width:100%;
    
    
  }

  &__quote {
    position: relative;
    top: 40%;
    margin-left: 50%;
    
    font-weight: 1.8rem;
    >blockquote {
      color:#ffffff;
      border-left: 0;
    }
  }
}

.hero-homepage {
  
  >img {
    max-width: 100%;
  }
  // background: url(../img/abcblue.png);
  // background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height:15rem;
}