

.title-bar {
  background: $light-gray;

  &-title {
    color: #000000;
  }

  >.menu-icon {
    margin-right: 1rem;
  }
}

.hamburger-icon {
  @include hamburger($black, $color-primary);
  margin-right: 1rem;
  margin-left: 1rem;
}