.footer {
  padding: 2.4rem;
  background: $light-gray;
  margin-top: 4rem;
  &__social {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    padding-bottom:1rem;

    @include breakpoint(small only) {
      // justify-content: space-between;
       
     }
    
    >a {
      margin-right: 2.4rem;
    }
  }

  &__address {

    display: grid;
    align-items: center;
    >img {
      width:100%;
      max-width: 300px;
      
    }

    @include breakpoint(small only) {
      margin: .5rem 0;
       
     }
  }

  &__disclaimer {
    display: flex;
    font-size: 1rem;
    align-items: center;

    >p {
      padding-top: 1rem;
    }
    
  }

  &__ddalogo {
    display: flex;
    align-items: center;
    width: 100%;
    
  }

  &__wrapper {
    align-content: center;
    padding: 2rem 0 2rem 0;
    align-items: center;
  }
}