.header {
  &__logo {
    width:100%;
    max-width: 300px;
    margin-left: -.5rem;
  }

  

  &__cta {

    display: flex;
    align-content: center;
    &-p {

      margin: auto 0 auto auto;

      @include breakpoint(small only) {
        margin: 2rem 0;
         
       }
      >.primary {
        color: $color-primary;
        font-size: 2rem;
        @include breakpoint(small only) {
          font-size: 1.8rem;
           
         }
      }
    }
    
}
}