  <div class="callout footer">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="medium-4  cell footer__address">
          
          <img src="{{root}}assets/img/nedc.png" alt="New England Dyslexia Center logo">
          
          <div class="medium-4 cell footer__address">
            
           
          </div>
          
          
        </div>
        <div class="medium-4 cell footer__address">
            <p>68 Laurel Street <br>
              Fairhaven, MA 02719 <br>
              508-994-4577
            </p>
        </div>

        <div class="medium-4 cell footer__social">
           
           
            <i class="fas fa-envelope social"></i>
            <i class="fab fa-linkedin social"></i>
            <i class="fab fa-facebook social"></i>
         
        
      </div>
      
      <div class="grid-x grid-padding-x footer__wrapper">
        <div class="medium-2 footer__ddalogo">
          <img src="{{root}}assets/img/ddalogo.gif" alt="Davis Dyslexia Association Logo">
        </div>
        <div class="medium-10 footer__disclaimer">
          <p>Professional services described as Davis® , Davis Dyslexia Correction® , Davis Symbol Mastery® , Davis Orientation Counseling® , and Davis Math Mastery® may only be provided by persons who are employed by a licensed Davis Specialist, or who are trained and licensed as Davis Facilitators by Davis Dyslexia Association International.</p>
        </div>
      </div>
      <div class="grid-x grid-padding-x footer__form">
        <div class="contact-panel" id="contact-panel" data-toggler=".is-active">
          <a class="contact-panel-button" data-toggle="contact-panel">SCHEDULE AN ASSESSMENT</a>
          <form action="https://formcarry.com/s/S1IaDkcxX" method="POST" accept-charset="UTF-8">
            <div class="row">
              <label>Full name *
                <input type="text" placeholder="Full name" name="fullName">
              </label>
            </div>
            <div class="row">
              <label>Email *
                <input type="email" placeholder="Email address" name="email">
              </label>
            </div>
            <div class="row">
              <label>Message *
                <textarea placeholder="Describe your needs" rows="3" name="message"></textarea>
              </label>
              <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
            </div>
            <div class="contact-panel-actions">
              <button class="cancel-button" data-toggle="contact-panel">Nevermind</button>
              <input type="submit" class="button submit-button" value="Submit">
            </div>
          </form>
        </div>
      </div>
      
      
    </div>
    
    
  </div> 
  
