
<div class="callout header">
  <div class="grid-container">
    <div class="grid-x ">
      <div class="medium-6 cell">
        
        
        <img src="{{root}}assets/img/lighthouse3.png" alt="New England Dyslexia Center logo" class="header__logo">
        
      </div>
      
      <div class="medium-6 cell header__cta">
        <p class="header__cta-p">
          <b>SCHEDULE AN ASSESSMENT</b> <br>
          
          
          <b class="primary">508-994-4577</b> 
        </p>
        
      </div>
    </div>
    
  </div>
</div>

<div class="grid-container">
  <div class="drid-x grid-padding-x">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="hamburger-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    
    <div class="top-bar" id="example-menu">
      <div class="top-bar-right">
       
      </div>
      <div class="top-bar-left">
        <ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
          <li><a href="index.html">Home</a></li>
          <li class="has-submenu ">
            <a href="#">Program</a>
            <ul class="submenu menu vertical nested " data-submenu>
              <li><a href="program.html">Program Details</a></li>
              <li><a href="drugfree.html">Drug Free Solution</a></li>
            </ul>
          </li>
          <li class="has-submenu ">
            <a href="#">Dyslexia</a>
            <ul class="submenu menu vertical nested " data-submenu>
              <li><a href="characteristics.html">Characteristics</a></li>
              <li><a href="famousdyslexics.html">Famous Dyslexics</a></li>
              <li><a href="thinkingstyle.html">Thinking Style</a></li>
            </ul>
          </li>
          <li><a href="davisfacilitator.html">The Facilitator</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="grid-container ">
  <div class="grid-x">
    <div class="cell ">
      <div class="hero-homepage">
        <img src="{{root}}assets/img/abcblue.png" alt="">
        
      </div>
    </div>
  </div>
</div>



